/* Site Styles Go Here */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }

 .footer-flex {
   display:flex;
   flex-direction: row;
   justify-content: space-between;
  }
  .footer-item-flex {
    flex: 0 1 auto;
  }